name: CI
on: [push, pull_request]
jobs:
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: cache-vulkansdk
      id: cache-vulkansdk
      uses: actions/cache@v5
      with:
        path: "VulkanSDK"
        key: vulkansdk-windows-X64-1.4.335.0.exe
    - name: vulkansdk
      if: steps.cache-vulkansdk.outputs.cache-hit != 'true'
      run: |
        Invoke-WebRequest -Uri https://sdk.lunarg.com/sdk/download/1.4.335.0/windows/vulkansdk-windows-X64-1.4.335.0.exe -OutFile vulkansdk-windows-X64-1.4.335.0.exe
        ./vulkansdk-windows-X64-1.4.335.0.exe --root $PWD/VulkanSDK --accept-licenses --default-answer --confirm-command install
    - name: build
      run: |
        $env:VULKAN_SDK="$(pwd)/VulkanSDK"
        mkdir build; cd build
        cmake -A x64 ../src
        cmake --build . --config Release -j 2

  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: cache-vulkansdk
      id: cache-vulkansdk
      uses: actions/cache@v5
      with:
        path: "1.4.335.0"
        key: vulkansdk-linux-x86_64-1.4.335.0
    - name: vulkansdk
      if: steps.cache-vulkansdk.outputs.cache-hit != 'true'
      run: |
        wget https://sdk.lunarg.com/sdk/download/1.4.335.0/linux/vulkansdk-linux-x86_64-1.4.335.0.tar.xz -O vulkansdk-linux-x86_64-1.4.335.0.tar.xz
        tar -xf vulkansdk-linux-x86_64-1.4.335.0.tar.xz
        rm -rf 1.4.335.0/source 1.4.335.0/samples
        find 1.4.335.0 -type f | grep -v -E 'vulkan|glslang' | xargs rm
    - name: build
      run: |
        export VULKAN_SDK=`pwd`/1.4.335.0/x86_64
        mkdir build && cd build
        cmake ../src
        cmake --build . -j 2

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: cache-vulkansdk
      id: cache-vulkansdk
      uses: actions/cache@v5
      with:
        path: "vulkansdk-macos-1.4.335.1"
        key: vulkansdk-macos-1.4.335.1
    - name: vulkansdk
      if: steps.cache-vulkansdk.outputs.cache-hit != 'true'
      run: |
        wget https://sdk.lunarg.com/sdk/download/1.4.335.1/mac/vulkansdk-macos-1.4.335.1.zip -O vulkansdk-macos-1.4.335.1.zip
        7z x vulkansdk-macos-1.4.335.1.zip
        ./vulkansdk-macOS-1.4.335.1.app/Contents/MacOS/vulkansdk-macOS-1.4.335.1 --root $PWD/vulkansdk-macos-1.4.335.1 --accept-licenses --default-answer --confirm-command install
        rm -rf vulkansdk-macos-1.4.335.1/Applications
        find vulkansdk-macos-1.4.335.1 -type f | grep -v -E 'vulkan|glslang|MoltenVK' | xargs rm
    - name: build-x86_64
      run: |
        export VULKAN_SDK=`pwd`/vulkansdk-macos-1.4.335.1/macOS
        mkdir build-x86_64 && cd build-x86_64
        cmake -DUSE_STATIC_MOLTENVK=OFF -DCMAKE_OSX_ARCHITECTURES="x86_64" \
            ../src
        cmake --build . -j 3
    - name: build-arm64
      run: |
        export VULKAN_SDK=`pwd`/vulkansdk-macos-1.4.335.1/macOS
        mkdir build-arm64 && cd build-arm64
        cmake -DUSE_STATIC_MOLTENVK=OFF -DCMAKE_OSX_ARCHITECTURES="arm64" \
            ../src
        cmake --build . -j 3
